###
#
# I found this on at https://github.com/github/gitignore/blob/master/Qt.gitignore
#
###

# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es

/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
qrc_*.cpp
ui_*.h
Makefile*
*-build-*

# QtCreator

*.autosave

#QtCtreator Qml
*.qmlproject.user
*.qmlproject.user.*

###
#
# This has been added
#
###

# Build it yourself
/build-verity-Desktop-Debug

# The compiled program & db
verity/verity
verity/verity.sqlite
